* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 0 auto;
    width: 950px;
    justify-content: center;
}

section {
    padding: 40px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: rgb(58, 16, 97);
}

header, #about-me {
    background-color: rgb(247, 240, 255);
}

#about-me div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about-me article {
    max-width: 350px;
    margin: 12px 15px;
}

#about-me img {
    max-width: 150px;
    border-radius: 12%;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

#tech {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 36%, rgba(247,240,255,1) 92%);
}

#tech div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.php {
    transform: scale(1.2);
}

#tech img {
    max-width: 60px;
    transition: 0.3s;
    margin: auto 10px;
}

#projects {
    text-align: center;
}

#projects img {
    max-width: 450px;
    border-radius: 28px;
    transition: 0.3s;
}

#projects img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav li {
    margin-right: 15px;
}

#nav a {
    font-weight: light;
    text-decoration: none;
    color: purple;
}

footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    padding: 30px;
    border-top: black 1px solid;
}

footer p {
    max-width: 240px;
}

footer i {
    margin: 7px;
    color: black;
    font-size: 1.5rem;
    transition: 0.3s;
}

footer i:hover {
    color: purple;
    transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
    .container, #about-me, header, footer, #tech, #projects, #nav {
        width: 100%;
    }

    #projects img {
        max-width: 85%;
        border-radius: 28px;
        transition: 0.3s;
    }

    #tech div {
        justify-content: center;
    }

    #tech img {
        max-width: 80px;
        transition: 0.3s;
        margin: auto 10px;
    }

    #nav a {
        font-size: small;
    }
}