* {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: auto;
    justify-content: center;
}

.navbar {
    padding: 8px;
    color: purple;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
}

.pfp {
    border-radius: 50%;
    max-width: 150px;
}

header section {
    display: flex;
    flex-direction: row;
}

header section div {
    margin: 10px;
}

header h1 span {
    font-weight: lighter;
}

header h3, main h3 {
    font-size: smaller;
    font-weight: lighter;
    margin-bottom: 10px;
}

header h3 span {
    color: rgb(96, 127, 47);
}

header p {
    margin: 10px auto;
}

header a {
    text-decoration: none;
    margin: 6px;
    color: purple;
}

header a i {
    margin: 3px;
}

main div {
    padding: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    background-color: white;
    max-width: 50px;
    margin: auto 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px black solid;
    text-align: center;
    transition: 0.2s;
}

.card img {
    max-width: 100%;
}

.card figcaption {
    font-size: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: purple;
}

#técnico ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#técnico li {
    margin: auto 15px;
}

#técnico a {
    color: purple;
    text-decoration: none;
}

#técnico a:hover {
    color: blueviolet;
    transition: 0.3s;
}

#projetos figure {
    text-align: center;
}

#projetos figure img {
    max-width: 300px;
    border-radius: 20px;
    transition: 0.2s;
}

#projetos figure img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}