html {
    background-image: url(https://file.garden/Zlkzrqgh4hF11eMP/fa/bg);
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: auto;
    scrollbar-color: #e694a800 #e7b6c300;

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #e7b6c300;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e694a800;
    border-radius: 10px;
    border: 3px solid #ffffff00;
  }
}

@font-face {
    font-family: windows;
    src: url(https://dl.dropbox.com/s/kaxqli0m8m9zvdc/Windows%20Regular.ttf?dl=0);
}

.main {
    width: 720px;
    height: 520px;
    margin: auto;
    margin-top: 5%;
}

.nav {
    width: 220px;
    height: 220px;
    background-color: rgba(100, 159, 139, 0.468);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 3px ridge rgb(23, 68, 84);
}

h3 {
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
}

a {
    text-decoration: none;
    color: black;
}

dl {
    list-style: none;
}

.nav b {
    color: #000000;
}

.content {
    width: 450px;
    height: 480px;
    padding: 5px;
    background-color: rgba(100, 159, 139, 0.468);
    margin-top: -28.5%;
    margin-left: 33%;
    border: 3px ridge rgb(23, 68, 84);
}

.nav h3 {
    position: relative;
    left: 80px;
    top: 10px;
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
}

.nav a {
    text-decoration: none;
    position: relative;
    left: 55px;
    color: white;
}

.yhere {
    background-color: rgba(0, 255, 255, 0.34);
}

.h1 {
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    left: 4px;
}

.content h1 {
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
    font-family: windows;
    position: relative;
    margin-top: -10%;
    font-size: 50px;
}

.contsub {
    width: 437px;
    height: 360px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.132);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contsub p {
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
}

.main img {
    position: relative;
    margin-top: -47%;
    margin-left: -2%;
}

.tab {
    background: rgb(186, 207, 255);
    width: 458px;
    margin-left: -0.8%;
    margin-top: -13%;
    border-bottom: 3px ridge rgb(23, 68, 84);
}

.tab img {
    top: 0;
    padding-left: 387px;
}