* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: #383838;
}

.container {
    width: 950px;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 1rem;
    position: fixed;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.nav li {
    padding-top: 5px;
}

.nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}

.nav img {
    width: 25px;
    height: 25px;
}

header {
    background-image: url("https://file.garden/Zlkzrqgh4hF11eMP/kakleinm/7672043.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

header h1 {
    font-size: 8rem;
    color: white;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000, 0 0;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
    margin-top: -23px;
    margin-left: 10px;
}

main section {
    padding: 180px;
    display: flex;
    flex-wrap: wrap;
}

.sobreMim {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}

.sobreMim article {
    width: 350px;
    margin-left: auto;
    margin-right: 15px;
}

.sobreMim img {
    margin-right: auto;
    border-radius: 100%;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

main h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
}

.conhecimento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

.card p {
    margin-top: 10px;
    color: black;
}

.card img {
    width: 150px;
}

.tecnico {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tecnico nav {
    border: 5px white solid;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tecnico li {
    list-style: none;
}

.tecnico a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.tecnico a:hover {
    transition: 0.3s;
    letter-spacing: 1.25px;
}

.tecnico h4 {
    margin-bottom: 7px;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projetos a {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

.projetos a:hover {
    transition: 0.3s;
    letter-spacing: 1.25px;
}

.projetos img {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
    }

    .nav {
        font-size: 95%;
        padding: 0.8rem;
    }
    
    .nav img {
        width: 20px;
        height: 20px;
    }

    header {
        max-width: 100%;
    }

    .sobreMim p {
        margin-bottom: 20px;
    }

    .sobreMim img {
        margin: auto;
    }

    .card {
        width: 150px;
        height: 200px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .nav {
        font-size: 95%;
    }
    
    .nav img {
        width: 20px;
        height: 20px;
    }

    header {
        max-width: 100%;
    }

    .sobreMim p {
        margin-bottom: 20px;
    }

    .sobreMim img {
        margin: auto;
    }

    .card {
        width: 150px;
        height: 200px;
    }

    main section {
        padding-top: 180px;
        padding-bottom: 180px;
    }
}

@media screen and (max-width: 430px) {
    header h1 {
        font-size: 5rem;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .nav {
        font-size: 60%;
        padding: 0.5rem;
    }

    .nav img {
        width: 15px;
        height: 15px;
    }

    .nav ul {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .container {
        width: 90%;
        justify-content: center;
        max-width: 425px;
    }

    main section {
        padding: 60px;
    }

    main h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 321px) {
    .nav {
        display: none;
    }

    header h1 {
        margin-top: 10px;
    }
}