* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    box-sizing: border-box
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
    background-color: #202020;
}

.container {
    width: 950px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    position: fixed;
    background-color: #0000006e;
    font-size: smaller;
    backdrop-filter: saturate(180%) blur(20px);
}

.nav a:hover {
    color: rgb(223, 184, 228);
    transition: .5s;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.nav li {
    padding-top: 5px;
    margin: auto 35px;
}

.nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav img {
    width: 25px;
    height: 25px;
}

header {
    background-image: url("https://file.garden/Zlkzrqgh4hF11eMP/kakleinm/back");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    justify-content: center;
}

header hr {
    border: #adadad55 1px solid;
    margin-bottom: 20px;
}

header h1 {
    font-size: 8rem;
    color: white;
    margin-top: 6px;
    letter-spacing: -7px;
}

header h4 {
    color: white;
    margin: auto auto 20px;
    font-weight: lighter;
}

header a {
    background-color: rgba(0, 0, 0, 0.57);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    margin: auto 6px;
}

header i {
    margin-right: 7px;
}

main section {
    padding: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.sobreMim {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}

.sobreMim article {
    width: 450px;
    margin-left: 15px;
    margin-right: auto;
    text-align: left;
}

.sobreMim img {
    margin-left: auto;
    border-radius: 100%;
}

p {
    color: white;
}

main h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000, 0 0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 105px;
    height: 105px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

.card p {
    margin-top: 10px;
    color: black;
}

.card img {
    width: 120px;
}

.tecnico {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.tecnico ul {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.tecnico h4 {
    margin: 10px auto;
}

.tecnico li {
    position: relative;
    list-style: none;
    margin: auto 15px;
}

.tecnico a {
    text-decoration: none;
    color: white;
}

.drop {
    width: 100%;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: .5s;
    margin-top: 5px;
}

.drop a {
    transition: .3s;
    border-radius: 5px;
    margin-top: 4px;
    padding: 3px;
}

.tecnico li:hover .drop {
    height: 300px;
}

.drop a:hover {
    background-color: #000000a6;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projetos a {
    color: black;
    text-transform: uppercase;
    transition: 0.3s;
}

.projetos img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.projetos img {
    margin-bottom: 10px;
    max-width: 90%;
    transition: 0.3s;
    border-radius: 20px;
}

footer {
    border-top: #ffffff 2px solid;
    padding: 20px;
}

@media (max-width: 320px) {
    .container {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .nav {
        display: none;
    }
    
    header {
        width: 100%;
    }
    
    header h1 {
        font-size: 5rem;
    }

    header h4 {
        display: flex;
        flex-wrap: wrap;
    }
    
    header a {
        font-size: small;
        padding: 3px;
        margin: auto 12px;
        font-weight: normal;
    }

    main section {
        padding: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .sobreMim {
        font-size: smaller;
    }

    .sobreMim article {
        width: 450px;
        margin: auto;
        text-align: center;
    }
    
    .sobreMim img {
        margin: auto auto 15px;
    }

    .card {
        width: 105px;
        height: 105px;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        border-radius: 15px;
        margin-top: 15px;
        transition: 0.4s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card img {
        width: 105px;
    }

    .projetos img {
        max-width: 100%;
    }

    #tecnico {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .container {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .nav {
        display: none;
    }
    
    header {
        width: 100%;
    }
    
    header h1 {
        font-size: 5rem;
    }

    header h4 {
        display: flex;
        flex-wrap: wrap;
    }
    
    header a {
        font-size: small;
        padding: 3px;
        margin: auto 12px;
        font-weight: normal;
    }

    main section {
        padding: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .sobreMim {
        font-size: smaller;
    }

    .sobreMim article {
        width: 450px;
        margin: auto;
        text-align: center;
    }
    
    .sobreMim img {
        margin: auto auto 15px;
    }

    .card {
        width: 105px;
        height: 105px;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        border-radius: 15px;
        margin-top: 15px;
        transition: 0.4s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card img {
        width: 105px;
    }

    .projetos img {
        max-width: 100%;
    }

    #tecnico {
        display: none;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .container {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .nav {
        display: none;
    }
    
    header {
        width: 100%;
    }
    
    header h1 {
        font-size: 5rem;
    }

    header h4 {
        display: flex;
        flex-wrap: wrap;
    }
    
    header a {
        font-size: smaller;
        font-weight: normal;
    }

    main section {
        padding: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .sobreMim article {
        width: 450px;
        margin: auto;
        text-align: center;
    }
    
    .sobreMim img {
        margin: auto auto 15px;
    }

    .card {
        width: 105px;
        height: 105px;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        border-radius: 15px;
        margin-top: 15px;
        transition: 0.4s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card img {
        width: 105px;
    }

    .projetos img {
        max-width: 100%;
    }

    .tecnico {
        font-size: small
    }

    .tecnico ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .tecnico li {
        margin-bottom: 80px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .container {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .nav {
        display: none;
    }
    
    header {
        width: 100%;
    }
    
    header h1 {
        font-size: 5rem;
    }
    
    header a {
        font-size: smaller;
    }

    main section {
        padding: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .sobreMim article {
        width: 450px;
        margin: auto;
        text-align: center;
    }
    
    .sobreMim img {
        margin: auto auto 15px;
    }

    .card {
        width: 105px;
        height: 105px;
        background-color: rgba(255, 255, 255, 0);
        padding: 5px;
        border-radius: 15px;
        margin-top: 15px;
        transition: 0.4s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card img {
        width: 105px;
    }

    .projetos img {
        max-width: 100%;
    }

    .tecnico {
        font-size: small
    }

    .tecnico ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .tecnico li {
        margin-bottom: 80px;
    }
}

@media (min-width: 499px) {
    .tecnico {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
    }
    
    .tecnico ul {
        display: flex;
        flex-direction: row;
        margin: 10px auto;
    }

    .tecnico li {
        position: relative;
        list-style: none;
        margin: auto 15px 80px;
    }
}

@media (min-width: 769px) and (max-width: 936px) {
    .container {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .sobreMim {
        display: flex;
        flex-direction: row;
        color: white;
        flex-wrap: wrap;
    }
    
    .sobreMim article {
        width: 400px;
        margin-left: 15px;
        margin-right: auto;
        text-align: left;
    }
    
    .sobreMim img {
        margin-left: auto;
        border-radius: 100%;
    }

    main section {
        padding: 40px;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (min-width: 881px) {
    
}