* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 900px;
    margin: auto;
}

header {
    color: white;
    background-color: rgb(70, 146, 123);
    padding: 28px;
}

header nav {
    padding: 15px;
    background-color: rgb(94, 194, 164);
    width: 550px;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    padding-left: 15px;
}

header li {
    margin: 0px 20px 0px 0px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main section {
    padding: 50px;
}

.cinza {
    background-color: rgba(236, 236, 236, 0.568);
}

.cinza h2 {
    padding-bottom: 30px;
}

.cinza ul {
    list-style: none;
    display: flex;
    margin: auto 20px auto 20px;
}

.cinza li {
    margin: 0px 20px 0px 20px;
    background-color: rgb(94, 194, 161);
    border-radius: 100%;
    padding: 25px;
    color: white;
    width: 80px;
    height: 80px;
}

.cinza i {
    font-size: 2em;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box {
    padding: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.box p {
    font-size: 0.8em;
    margin: 25px 0px 25px 0px;
}

.box a {
    text-decoration: none;
    color: white;
    background-color: rgb(70, 146, 123);
    padding: 10px 15px 10px 15px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    padding: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    width: 160px;
    height: 100px;
}

.card h4 {
    margin: 15px 0px 15px 0px;
    font-size: 0.9em;
}

.card p {
    font-size: 0.75em;
    margin: 15px 0px 15px 0px;
}

.card a {
    text-decoration: none;
    color: white;
    background-color: rgb(70, 146, 123);
    padding: 10px 15px 10px 15px;
    font-size: 0.75em;
}

footer {
    color: white;
    background-color: rgb(70, 146, 123);
    padding: 30px;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 20px 0px 20px 0px;
}

footer li {
    text-decoration: none;
    color: rgb(218, 218, 218);
    margin: 0px 20px 0px 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    background-color: rgb(87, 182, 153);
    padding: 12px;
}