* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    border: 0;
}

header {
    background-image: url("aula10 1/iridium/iridium/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    height: 300px;
    color: white;
    padding: 100px;
}

header h1 {
    margin-bottom: 0;
    font-size: 4.5em;
}

header p {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 1em;
    color: rgb(180, 180, 180);
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.first-element {
    border: 1px white solid;
    border-radius: 20px;
    padding: 15px;
    color: white;
}

section {
    margin: 15px;
}

main section {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

main h3 {
    font-size: 2.2em;
    margin-bottom: 0;
    margin-top: 10px;
}

article {
    text-align: justify;
    width: 70%;
}

article img {
    width: inherit;
}

article p {
    margin-top: 0;
    margin-right: 30px;
}

aside {
    width: 30%;
}

aside h4 {
    margin-top: 10px;
}

.post div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post p {
    margin-left: 12px;
    text-align: justify;
}

.dia-post {
    color: rgb(129, 129, 129);
    font-size: 0.8em;
    margin-top: 15px;
}

h3, h4 {
    text-transform: uppercase;
}

.cinza {
    background-color: rgb(234, 233, 233);
    justify-content: center;
    padding: 10px;
    height: 370px;
    display: flex;
    margin: 0;
}

.box {
    width: 300px;
    margin: auto;
    text-align: justify;
}

.box img {
    width: inherit;
}

.box h4 {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.box p {
    margin-bottom: 20px;
}

.botao {
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

footer {
    background-color: rgb(20, 20, 20);
    color: #fff;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: rgb(135, 135, 135);
}

.box-footer {
    width: 350px;
    margin: 30px;
    margin-top: 70px;
}

.box-footer li {
    margin: 15px;
}

.box-footer h4{
    font-size: 1.2em;
    margin-bottom: 34px;
}