/*
laranja: rgb(246,94,0);
cinza-azulado: rgb(13,31,41);
azul-escuro: rgb(1, 17, 23);
*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}

.top mark {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(246,94,0);
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top article {
    width: 250px;
    margin-left: auto;
}

.top figure {
    position: relative;
    width: 450px;
    margin-right: auto;
}

.top figcaption {
    position: absolute;
    top: 0;
    left: 150px;
    background-color: rgb(13,31,41);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.div {
    width: 100%;
    background: rgb(13,31,41);
    padding-left: 330px;
}

.div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.div li {
    padding: 10px 20px;
}

.div a {
    text-decoration: none;
    color: white;
}

.div li:hover {
    background-color: rgb(246,94,0);
}

main div {
    width: 300px;
    padding: 10px;
    margin: auto;
}

main figure {
    width: 100%;
    margin-left: 0;
    position: relative;
}

main button {
    background-color: rgb(246,94,0);
    color: white;
}

main figcaption {
    padding: 5px 5px 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.632);
    text-align: center;
    color: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 75%, 50% 100%, 45% 75%, 0% 75%);
    width: inherit;
    margin-top: -33px;
}

main img {
    width: inherit;
}

main p {
    font-size: 0.8em;
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: white;
    background-color: rgb(1, 17, 23);
}

footer div {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

footer input {
    background-color: rgba(40, 67, 77, 0.423);
    color: white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    margin-top: 10px;
}

.button {
    background-color: rgb(246,94,0);
    color: white;
    border-radius: 5px;
    width: 70px;
    padding: 2px;
}

footer table {
    background-color: rgba(22, 22, 96, 0.144);
    padding: 10px 10px 10px 10px;
    text-align: center;
}