* {
    margin: 0;
    padding: 0;
    cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1537.cur), auto !important;
    color: white;
    font-family: ms ui gothic;
}

html {
    background-color: #383838;
}

h3 {
    font-family: minecraftia;
}

@font-face {
    font-family: minecraftia;
    src: url(https://dl.dropbox.com/s/qrro6u0lx00x66j/Minecraftia-Regular.ttf?);
}

@font-face {
    font-family: minecraft;
    src: url(MinecraftTen-VGORe.ttf);
}