/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1537.cur), auto !important;} /* End https://www.cursors-4u.com */

@font-face {
    font-family: minecraftia;
    src: url(https://dl.dropbox.com/s/qrro6u0lx00x66j/Minecraftia-Regular.ttf?);
}

@font-face {
    font-family: minecraft;
    src: url(MinecraftTen-VGORe.ttf);
}

content {
    width: 100%;
}

html {
    background-color: #383838;
}

h1 {
    font-family: minecraft;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: rgba(128, 128, 128, 0.418);
    justify-content: center;
    padding: 5px;
    height: 20px;
}

.logo {
    background-image: url(imgs/logo.png);
    width: 645px;
    height: 190px;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-top: -16.5%;
    display: flex;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 445px;
        height: 90px;
        background-size: contain;
        margin-left: 3%;
    }
}

.header {
    background-image: url(imgs/Homepage_Banner_Desktop.CiUMlNXT.webp);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    font-family: minecraftia;
    color: white;
}

a:hover {
    font-size: 110%;
    transition: .3s;
}

a { font-size:100%; transition:.3s;}

.main {
    background-color: blue;
    display: flex;
    height: 600px;
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: -3%;
    }
}